.FooterWrap{
    background-color: skyblue;
}
.contactLogo{
    background-color: slateblue;
}
.FooterMenu{
    background-color: springgreen;
}
.FooterAbout{
    background-color: tomato;
}
.FooterMedsos{
    background-color: rgb(244, 255, 95);
}