.contact-cont{
   margin:150px 150px;
    width: 1007px;
height: 674px;
display: flex;
}
.deskripsi{
    flex:60%;
    
}

.contact-input{
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deskripsi :nth-child(1){
    width: 129px;
height: 21px;
left: 118px;
top: 5931px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 140%;
letter-spacing: 0.6em;
text-transform: uppercase;
color: #1C57C9;
padding: 20px;
padding-top: 40px !important;
}
.deskripsi :nth-child(2){
    width: 480px;
height: 177px;
left: 118px;
top: 5969px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 140%;
letter-spacing: -0.02em;
color: #262B35;
padding: 20px;
}
.deskripsi img{
    width: 412px;
height: 362px;
}

.contact-input label {
    width: 162px;
height: 19px;
margin-top: -50px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
}
.contact-input input{
    width: 400px;
height: 44px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 3px;
}
.contact-input select{
    width: 400px;
    height: 44px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
}
.contact-input textarea{
    width: 420px;
height: 96px;
left: 705px;
top: 6396px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 3px;
}