.Wraper{
    display: flex;
  flex-flow:wrap;
    width: 50%;
    height: 500px;
    top:1650px;
    left: 560px;
    margin-left: 560px;
    margin-top: -450px;
    z-index:7;
}
.Card{
  width: 250px;
height: 226px;
left: 661px;
top: 1513px;
  margin-right: 80px;
  margin-bottom: 10px;
}

.Card :nth-child(2){
 font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #262B35;
margin-top: 20px;
}
.Card :nth-child(3){
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 160%;
color: #606C84;
margin-top: 15px;
}