
.Button .btn-green{
    position: absolute;
    width: 128px;
    height: 30px;
    left: 96px;
    top: 555px;
    text-decoration: none;
    color:#FFFFFF;
    border: 1px solid #b6b6b6;
    text-align: center;
    margin: 0 auto;
    font-family: inter;
    padding-top: 10px;
    background-color:#11ec35;
    border-radius:4px;
    }
 .Button .btn-more{
        position: absolute;
        width: 128px;
        height: 30px;
        left: 97px;
        top: 555px;
        padding-top: 10px;
        color: white;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        margin-left: 150px;
        font-family: inter;
        border: 1px solid white;
        border-radius: 4px;
        
        }
        .Button{
            display: flex;
        }