.nav{
    display: flex;
    flex-direction: row;
    
}
/*.nav ul{
    list-style: none;
    position: relative;
    left: 119px;
    top:33px;

}
.nav ul li{
    display: inline-block;
    margin-left: 5px;
    top:36px;
    
}
.nav ul li a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;

}
*/
.nav img{
   position: relative;
    width: 167px;
    height: 42px;
    left: 100px;
    top: 36px;
}
